section.uxui(id=`${pageId}` hidden)
    table
        tbody
            tr
                td
                    div.menu
                        ul
                            li.menu-item
                                a(href="#" data-section="") Example
                            li.menu-item
                                a(href="#" data-section="") of
                            li.menu-item
                                a(href="#" data-section="") menu buttons
                td
                    input.sc-form__input(required=true type="email" placeholder="input field")
                td
                    div.bordered-button
                        a(href="#" class="section-opener" data-section="meh") Button
                td  
                    div.img-with-text
                        img.avatar(style="margin: 0 0 4px 0;" src='http://cs4.pikabu.ru/images/big_size_comm/2014-12_2/14178633063423.jpg')
                    div.profile-info
                        h4
                            i= 'Username: '
                            b= 'tema'
                        h4
                            i= 'Email: ' 
                            b= 'tema@tema.ru'
                        h4
                            i= 'Game rank: ' 
                            b= '30669'
    table
        tbody
            tr
                td
                    h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    table
            tbody
                tr
                    td(style="height: 5px; width: 40px; background-color: #EF476F;")
                tr
                    td(style="height: 5px; width: 40px; background-color: #FFFCF9;")
                tr
                    td
                        div.header
                            span HEADER FONT

