<!--suppress HtmlUnknownAttribute -->
input.sc-form__input(required=true type="email" name="email" placeholder="email")
input.sc-form__input(required=true type="password" name="password" placeholder="password")

if signup
    input.sc-form__input(required=true type="password" name="password_confirmation" placeholder="password again")
    input.sc-form__input(required=true type="text" name="username" placeholder="username")

table(class="form-buttons")
    tr
        unless signup
            td.button-container
                div.bordered-button
                    a(href="#" class="js-signup-form__submit-button section-opener" data-section="signup") Register
            td.space
            td
                input(required=true type="submit" class="js-signin-form__submit-button bordered-button" value="Sign in")
        else
            td
                input(required=true type="submit" class="js-signup-form__signup-button bordered-button" value="Register")
