div.settings__img-with-text
    img.avatar(src=`${avatarLink}`)
    form(action=`${uploadAvatarLink}` method="post" id="upload-avatar" enctype="multipart/form-messages")
        span.upload-btn-wrapper
            button(class="btn update") Update
            input(type="file" name="avatar")
    button(class="btn delete" id="delete-avatar") Delete
    hr
form.settings__sc-form(action=`${meLink}` method="patch" id="update-info")
    input.sc-form__input(type="text" name="username" placeholder=`${username}`)
    input.sc-form__input(type="text" name="email" placeholder=`${email}`)
    input.sc-form__input(type="password" name="password" placeholder="new password")
    input.sc-form__input(type="password" name="password_confirmation" placeholder="confirmation")
    input.bordered-button(required=true type="submit" value="Update")

a(href="#" id="logout" data-section="menu") LOG OUT
