div(class="img-with-text")
    img(class="avatar" src=`${avatarLink}`)
    form(action=`${uploadAvatarLink}` method="post" id="upload-avatar" enctype="multipart/form-data")
        span(class="upload-btn-wrapper")
            button(class="btn update") Update
            input(type="file" name="avatar")
    a(class="btn delete" id="delete-avatar") Delete
    hr
    a(href="#" id="logout" data-section="menu") LOG OUT

div(class="profile-info")
    h4
        i= `Username: ${username}`
    h4
        i= `Email: ${email}`
    h4
        i= `Game rank: ${rank}`
