div(class="img-with-text")
    img(class="avatar" src=`${avatarLink}`)
    form(action=`${uploadAvatarLink}` method="post" id="upload-avatar" enctype="multipart/form-data")
        span(class="upload-btn-wrapper")
            input(type="file" name="avatar")
    a(href="#" id="settings" data-section="settings") Settings

div(class="profile-info")
    h4
        i= `Username: ${username}`
    h4
        i= `Email: ${email}`
    h4
        i= `Game rank: ${rank}`
