section(class="menu profile-page")
    include ../../components/menu-ref/menu-ref.pug
    div.img-with-text
        if avatarLink
            img.avatar(src=`${avatarLink}`)
        a#settings(href="/profile/settings") Settings
    div.profile-info
        h4
            i= 'Username: '
            b= `${username}`
        h4
            i= 'Email: '
            b= `${email}`
        h4
            i= 'Game rank: '
            b= `${rank}`
