section(class="menu profile-page")
    include ../../components/menu-ref/menu-ref.pug
    div.profile-page__img-with-text
        if avatarLink
            img.profile-page__avatar(src=`${avatarLink}`)
        a(href="/profile/settings") Settings
    div.profile-page__info
        h4
            i= 'Username: '
            b= `${username}`
        h4
            i= 'Email: '
            b= `${email}`
        h4
            i= 'Game rank: '
            b= `${rank}`
