form.js-form.form(novalidate=true)
    if fields
        div.form__fields-container
            each field in fields
                input.form__input(required=true, type=`${field.type}`, name=`${field.name}` placeholder=`${field.placeholder}`)

    div.form__controls-container
        button.form__control--bordered(type="reset") #{resetText}
        div.form__space
        button.form__control--bordered(type="submit") #{submitText}

    if formFooterLink
        a.form__link(href=`${formFooterLink.href}`)
            u #{formFooterLink.title}
